@import "tailwindcss";

/* ---- reset ---- */

body {
  margin: 0;
  background-color: #070825;
}


canvas {
  display: block;
  /* vertical-align: bottom; */
}


/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;              /* puts it behind everything */
  pointer-events: none;     /* allows clicks to pass through */
}


      /* Mobile stacking for table */
      @media (max-width: 640px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
        }

        thead tr {
          display: none;
        }

        tbody tr {
          margin-bottom: 1rem;
          border-radius: 0.75rem;
          padding: 0.75rem;
          background: #f8f8f8;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05), -4px -4px 10px rgba(255, 255, 255, 0.7);
        }

        td {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.5rem;
        }

        td input {
          width: 60%;
        }

        td:last-child {
          justify-content: flex-end;
        }
      }