<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyInvoice - invoices in 60 seconds!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}"> 
</head>

<body class="bg-gray-100">

    {% include 'partials/header.html' %}

    <main class="p-6 max-w-4xl mx-auto">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}
    {% block scripts %}
    {% endblock %}

</body>
</html>
